{% extends "layouts/master.md.j2" %}

{% block body %}
## Projects

| Project | Status | Description |
|:--------|:-------|:------------|
{% for project in projects %}
| [{% if project.featured %}★ {% endif %}{{ project.name }}]({{ project.url or project.repository_url }}) | {{ project.status }} | {{ project.description }} <br> <sub>Tags: {{ project.tags|join(", ") }}</sub> |
{% endfor %}

## PyPI Packages

| Package | Version | Downloads | Summary |
|:--------|:--------|:----------|:--------|
{% for pkg in pypi %}
| [{% if pkg.featured %}★ {% endif %}{{ pkg.package_name }}]({{ pkg.docs_url or "https://pypi.org/project/" ~ pkg.package_name }}) | {{ pkg.version }} | {{ pkg.downloads_monthly }} | {{ pkg.summary }} |
{% endfor %}
{% endblock %}
